#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1), 0px 8px 15px rgba(20, 20, 20, 0.12);
  border-radius: 6px;
}

.line {
  width: 340px;
  height: 0px;

  border: 0.7px solid #CDCDCD;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.scrollable-container {
  height: 164px;
  overflow-y: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollable-div::-webkit-scrollbar {
  display: none;
}
